* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  font-size: 3rem;
  width: 100vw;
  height: 10vh;
  line-height: 10vh;
  margin-bottom: 36px;
  font-size: 2rem;
  font-weight: 800;
  color: white;
  margin: 36px 0px;
  text-align: center;
  background-color: rgb(160, 6, 44);
}

#questions-zone,
#results-zone {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.one-question {
  margin-bottom: 36px;
}

.one-question__title {
  margin-bottom: 8px;
  padding: 6px;
  font-weight: 700;
}

.one-question__choices {
  display: flex;
  flex-direction: column;
}

.one-question__choices__one-choice {
  margin-bottom: 4px;
  padding: 8px;
  cursor: pointer;
}
.one-question__choices__one-choice:hover {
  background-color: #dbf4f8;
}
.wrong-answer {
  background-color: rgb(248, 142, 142);
}
.correct-answer {
  background-color: rgb(131, 247, 146);
}
.selected-answer {
  background-color: #64d8ec;
}
.selected-answer:hover {
  background-color: #64d8ec;
}

#submit-btn {
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 36px;

  background-color: rgb(15, 117, 1);
}
#submit-btn:hover {
  background-color: rgb(45, 144, 32);
  transform: scale(1.02);
}

#score-zone {
  display: flex;
  width: 15vw;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 20vh;
  left: 5vw;
}
#score-list-header {
  width: 100%;

  padding: 16px 8px;
  font-weight: 900;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(21, 24, 123);
  box-shadow: 0 0 4px rgb(231, 231, 231);
}

#score-list {
  width: 100%;
  box-shadow: 0 0 4px rgb(231, 231, 231);
  padding: 8px;

  max-height: 50vh;
  overflow: hidden;
}
#score-list::-webkit-scrollbar {
  width: 2px;
  background-color: rgb(255, 255, 255);
}

#score-list::-webkit-scrollbar-thumb {
  background-color: rgb(197, 197, 197);
  border-radius: 1px;
}

#score-list:hover {
  overflow-y: auto;
}
.one-score-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 4px;
}
.one-score-row:first-child {
  border-bottom: 4px solid rgb(251, 251, 129);
  color: crimson;
  font-weight: 900;
}

#redo-test-btn {
  width: 120px;
  height: 35px;
  border: none;
  margin-top: 16px;
  color: white;
  background-color: rgb(160, 6, 44);
  border-radius: 5px;
  padding: 8px 16px;
}
#redo-test-btn:hover {
  background-color: rgb(187, 21, 62);
  transform: scale(1.05);
  box-shadow: 0 0 4px rgb(231, 231, 231);
}

#result-preview {
  width: 15vw;
  padding: 16px;
  position: fixed;
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;
  top: 20vh;
  right: 5vw;
  box-shadow: 0 0 4px rgb(231, 231, 231);
}

.one-result-preview {
  display: block;
  min-width: 30px;
  min-height: 30px;
  line-height: 30px;
  border-radius: 3px;
  text-align: center;
  margin: 6px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.one-result-preview:hover {
  transform: scale(1.05);
  box-shadow: 0 0 6px rgb(231, 231, 231);
}

.choose-questions-pack-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-questions-pack-container--header {
  font-size: 2rem;
  font-weight: 700;
}

.choose-questions-pack-container--pack-list {
  display: flex;
  justify-content: center;
  width: 30vw;
  margin-top: 32px;
}

.choose-questions-pack-container--pack-list--item {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: lawngreen;
  border-radius: 50%;
  margin: 0 8px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.choose-questions-pack-container--pack-list--item:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 5px rgb(38, 156, 38);
  background-color: rgb(71, 245, 71);
}
